.button-icon {
    background: none;
    border: none;
    padding: 0.6rem;
    border-radius: var(--border-radius-sm);
    transition: all 0.2s;
  }
  
  .button-icon:hover {
    background-color: var(--color-grey-100);
  }
  
  .button-icon svg {
    width: 2.75rem;
    height: 2.75rem;
    color: var(--color-brand-600);
  }
  