@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sen:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-size: 62.5%; */
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body {
  background-color: #fefaea;
}
.heading {
  font-size: 3.5rem;
}

.sub-heading {
  font-size: 2rem;
}

.body-font {
  font-size: 1.4rem;
}
.sub-body-font {
  font-size: 0.9rem;
}

@media (max-width: 767.98px) {
  .heading {
    font-size: 1.8rem;
  }

  .sub-heading {
    font-size: 1.6rem;
  }

  .body-font {
    font-size: 1rem;
  }

  .sub-body-font {
    font-size: 0.6rem;
  }
}

.fs-24 {
  font-size: 24px;
}
.fs-16 {
  font-size: 16px;
}
.navbar {
  font-size: 62.5% !important;
}

